*{ 
margin: 0;
padding: 0;
}
 body {
     height: 2000px;
 }




nav  {
    width: 100%;
    position: fixed;
    background-color: #0f08227a;
    opacity: 70%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    z-index: 8;   
 
}
    
  nav img {
  

width: 100px;
height: 10vh;
display: flex;

}


nav ul {
   
   margin-right: 250px;
    }


   nav ul li {
    color: aliceblue;
    display: flex;
    list-style-type:  none;
    margin-left: 40px;
   
}
 nav  ul a {
      color: aliceblue;
    text-decoration: none;
   
}
   nav li {
    float: right;
    padding: 10px;
}



.l  {
    padding: 10px 22px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: linear-gradient(224deg, #6131df, #f407ad);
}
.s {
    padding: 10px 22px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
   
    cursor: pointer;
    transition: 0.5s;
    letter-spacing: 2px;
    text-transform: uppercase;
 background: transparent;
}

.l :hover{
    color: rgb(4, 1, 2);
}
 /* 2 partie */
 .e { 
    height: 100vh;
    background-color: #c12149;
    
    }

.ayman{
    position: relative;
    background-image: linear-gradient(to right bottom, #da3e1e, #c12149, #95265f, #612e61, #342c4e, #212740, #16212f, #13191e, #0f161a, #0a1315, #040e10, #000909);
    width: 98%;
    height: 100%;
   display: flex;
   justify-content: space-between;
    
}
.aboutme { 
  padding: 15%  0 0  3%;
  top:30% ;
  left: 30px;
  z-index: 10;
  width: 50%;
 
  
}
.aboutme h4 {
    color: #f3f5f8;      

}
.aboutme P{
    font-size: 30px;
}
  .aboutme h1 {
     font-size: 70px;
     color: #f1ecec;
     font-weight: 600;
    transition: 0.7s;
    }

.aboutme  h1:hover{
    -webkit-text-stroke:2px #fff ;
    color: unset;
    
}

.b{
display: flex;
justify-content: center;
   
}
  
.b img{
  
    width: 100%;
    height: 600;
    left:  40px;
    top: 25px;
    transform: translateX(-50px);
 animation: bar 2s infinite linear;
}



@keyframes bar {
    0%{
        transform: translateY(5px);
        }
50% {
    transform:translateY(-5px);


}   
100%{
    transform: translateY(5px);
} 
}

hr
{
    
    animation: expand 2s infinite linear;
  }
  
  @keyframes expand {
    0%{
      transform: scaleX(0);
    }
    50% {
      transform: scaleX(1);
    }
    100% {
        transform: scaleX(1);
      }
  }

span{
    font-size: 30PX;
}
.islam{
    height: 50px;
}
.islam svg{
    position: absolute;
    bottom: 0.1px;
    top: 390px;
   
   
}

.saad{
    height: 10%;
    background-color: rgb(255, 255, 255);
}


/* partie experience */ 
.ex {
    width: 50%;
   margin: auto;
}
.ex h1 { text-align: center;
    font-family: sans-serif;
   
 
    transform: perspective(7em) rotatex(20deg);
    text-decoration: 0.3em underline rgb(121, 117, 110);
  
}


.jihane { position: relative;

    height: 310px;
    display:flex;

}
 .jihane .image { 
    position: absolute;
    top: 50px;
    left: 145px;
   box-shadow: 0px 0px 0px floralwhite;
}
 .jihane .image .img  { 
   width: 300px;
}
 .tache {
     position: absolute;
     top: 125px;
     left: 500px;
  
}
/*partie experience 1-2 */
.aziz {
  
    position: relative;
    height: 18%;
    display:flex;
    margin: auto;
}

 .tache2{
  position: absolute;
  top: 94px;
  left: 200px;
}
 .image5  {
    position: absolute;
    top: 25px;
    left: 900px;
}

 
.image5 .img2{
    width: 400px;
}

/* partie competance */
.aziza{
   height: 60vh;
    width: 100%;
   
    background-image: linear-gradient(to right bottom, #570634, #541c46, #4e2c53, #48395d, #444463, #404b66, #3f5166, #415666, #405965, #405c63, #435e60, #48605e);
 
}
.aziza h1 { 
    text-align: center;
    color: white;
}
.milodaa{
    display: flex;
   justify-content: space-between;
width: 90%;
margin-top: 55px;
margin-left: 70px;
}
.imagea{
    background-image: linear-gradient(to right bottom, #948d91, #979297, #9b979d, #9e9da2, #a2a2a7, #999aa2, #90919c, #878997, #727186, #5f5a74, #4f4361, #402c4e);
    width: 250px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
 
    border-radius: 2rem;
    margin: 5px;
}
.imagea h2 {
    text-align: center;
    color: white;
} 
.imagea p{
    text-align: center;
    color: white;
}
.image2{
    background-image: linear-gradient(to right bottom, #948d91, #979297, #9b979d, #9e9da2, #a2a2a7, #999aa2, #90919c, #878997, #727186, #5f5a74, #4f4361, #402c4e);;
}
.image3{
    background-image: linear-gradient(to right bottom, #948d91, #979297, #9b979d, #9e9da2, #a2a2a7, #999aa2, #90919c, #878997, #727186, #5f5a74, #4f4361, #402c4e); ;
}/*
.image4{
    background-image:url("Sans\ titre-4.png") ;
    transform: scaleX();
}*/
.islama{
  display: flex;
 
}
.jihanea {
    width: 1100px;
    top:100px;
    left: 15px;
}

 .islama .jihanea img{
    position: relative;
    width: 20px;
     left:15%;
    TOP: 55px;
    
   
}

.saada{
    margin-top: 5%;
    margin-left: 20%;
    background-color: rgba(148, 147, 149, 0.354);
    width:50%;
    border-radius: 12rem;

}
.aymana{
    margin-bottom: 5%;
    background-image: linear-gradient(to right bottom, #34051f, #36162e, #37243a, #393144, #3e3d4b, #3c404b, #3c424a, #3e4449, #353e42, #2d383b, #253233, #1e2c2b);
    width: 50%;
    border-radius: 12rem;
}
 #a{
    width:85%;
    background-color: black;
}
  #b{
    width:75%;
    background-color: black; 
}

   #c{
    width: 50%;
    background-color: black;
}


.aymana span{
    color: white;
    margin-left: 90%;
}


/*dernier partie */ 
.slidercontainer{
    margin: 10px;
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 2rem;
    float: left;
}


.slider{
    float: left;

}
.slider img {
    width: 250px;
  
}
.slide{
    animation: glisse 5s infinite;
}
@keyframes glisse {
    0% {
        transform: translatey(0px);
    }
    30% {
        transform: translatey(-250px);
    }
    60% {
        transform: translatey(-510px);
    }
    100% {
        transform: translatey(px);
    }
}
.container{
    display: inline-block;
    margin: 20px;
}
